
<footer>
    <div id="contacto" class="seccion">
        <div class="container">
            <div class="footer-content">
                <h2 class="titulocontacto">
                    Contáctanos para cotizar nuestros productos: </h2> <br>
                <div class="gmail">
                    <%= image_tag("gmail", class: "iconomail", size: "30x30") %>
                    <%= link_to "abrahampizarroc@gmail.com", "mailto:abrahampizarroc@gmail.com" %> <br>
                    <%= link_to "+56 9 53722060", "tel:+56953722060", class: "telefono-enlace" %>
                </div>
                
                <div class="redes">
                    <h2> SIGENOS EN REDES SOCIALES</h2>
                    <%= image_tag("facebook", class: "face", size: "30x30") %>
                    <%= link_to "Facebook", "https://www.facebook.com/Anny74", target: "_blank" %> <br> <br>
                    <%= image_tag("instagram", class: "insta", size: "30x30") %>
                    <%= link_to "Instagram", "https://www.instagram.com/tu_pagina", target: "_blank" %> <br> <br>
                    <%= image_tag("whatsapp", class: "wasap", size: "30x30") %>
                    <%= link_to "Instagram", "https://www.instagram.com/tu_pagina", target: "_blank" %>
                </div>
            </div>
        </div>
    </div>
  </footer>
  